{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<header class="container" id="profile">
  <h1>@{{user.username}}</h1>
  <a href="{% url 'edit-profile' %}"><button class="btn btn-primary"type="button" name="button">Edit Profile</button></a>
  <ul>
    <li>{{post|length}} posts</li> |
    <li>{{follower|length}} followers</li> |
    <li>{{following|length}} following</li>
  </ul>
</header>
{%for post_item in post%}
<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/profile">{{ post_item.user }}</a> |
        <a href="/">{{ post_item.upl_date|timesince }}</a>
    </div>
    <div class="panel-body">
      <h5>{{ post_item.caption }}</h5>
      <img src="{{ post_item.post_img.url }}" alt="{{ post_item.caption }}" width="500px" />
    </div>
    <div class="panel-footer">
        <input type="text" class="form-control" placeholder="Add a comment..." aria-describedby="comment">
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}
